#slot-machine {
    align-items: center;
    background: #2a5084;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    
}

#first, #second{
    color: rgb(44, 216, 44);
    font-family: fantasy;
    font-weight: lighter;
}


.lanes {
    display: flex;
}

.lane {
    background: white;
    border-color: rgb(44, 216, 44);
    border-radius: 3px;
    border-style: ridge;
    height: 150px;
    margin: 15px;
    overflow: hidden;
    width: 100px;

}

.windows {
    transition: 2s ease-in-out;
}

.window {
    align-items: center;
    display: flex;
    font-size: 70px;
    justify-content: center;
}

.buttons {
    margin: 10px 0 20px 0;
}

button {
    background-color: white;
    border-color: rgb(44, 216, 44);
    border-style: groove;
    border-radius: 10px;
    box-shadow: 0 5px rgb(44, 216, 44);
    cursor: grab;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 2px 20px 2px 2px;
    padding: 10px 15px;
    text-transform: uppercase;
}

button:active {
    background-color: #3eb642;
    box-shadow: 0 5px rgb(25, 131, 30);
    cursor: grabbing;
    transform: translateY(4px);
  }

  .info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
