/* html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  #snakegame {
    border: 1px solid black;
    background: aliceblue;
  }
  
  #snakegameboard {
    display: flex;
    justify-content: center;
  }

  #snake-exit{
    margin: 10px;
  }