.vertical-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
}

.radio-label {
    font-size: 22px;
}

.game-title {
    font-size: 25px;
}

.sports-list {
    border: 2px solid lightgrey;
    border-radius: 20px;

    -webkit-box-shadow: 2px 3px 8px #eee;
    -moz-box-shadow: 2px 3px 8px #eee;
    box-shadow: 2px 3px 8px #eee;
}

#betting {
    padding-top: 20px;
}

.betting-label {
    font-size: 25px;
}