 #headerpic {
    background-image: url("../images/headerdeck 47 large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
}

.nav-content {
    background-color: blueviolet;
}

.imagetxt {
    height: 300px;
    transition:  0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.imagetxt p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color: white;
}

.imagetxt:hover{
    box-shadow: 0 0 0 200px rgba(0,0,0,0.9) inset;
}

.imagetxt:hover p{
    opacity: 1;
    transform: scale(1);
}

.imagetxt1{
    background-image: url(../images/snakegameimg.png);
}

.imagetxt2{
background-image: url(../images/ssfight.webp);
}

.imagetxt3{
    background-image: url(../images/ssgalaga.png);
}

.imagetxt4 {
    background-image: url(../images/ssmario.jpeg);
}

.casino-image-1{
    background-image:url(../images/blackjack.jpg);
}







/* .error-text{
    color:red;
}

.success-text{
    color:green;
} */

.btnStyle {
    display:flex;
    margin-bottom: 10px;
}

.cardStyle {
    width: 136px;
    height: 189px;
}

.headerText{
    color: white;
}

.btnColor{  
    border: 2px solid #000000;
    background-color:rgb(44, 216, 44);
}
.error-text{
    color:red;
}

.success-text{
    color:green;
}

#theBlackjackGame{
    height:80vh;
    background:url('../images/tableBG.png') no-repeat;
    background-size: cover;
}

#signin{
    color:aliceblue;
}